body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5e6d1; /* Couleur de fond crème */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 5px solid #9c8576; /* Bordure brun doux */
    padding: 20px;
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.display {
    background-color: #e4d5c3; /* Fond beige doux */
    border: 2px solid #9c8576;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5em;
    color: #2e2e2e;
    margin-bottom: 20px;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f2c38f; /* Couleur pêche douce */
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.2s; /* Transition pour le survol */
}

.button.operation {
    background-color: #bfae9d; /* Couleur taupe */
}

.button:hover {
    background-color: #f2d2a2; /* Couleur pêche claire lors du survol */
}

.button.operation:hover {
    background-color: #c9bcb2; /* Couleur taupe claire lors du survol */
}
