body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5e6d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 5px solid #9c8576;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.display {
    background-color: #e4d5c3;
    border: 2px solid #9c8576;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5em;
    color: #2e2e2e;
    grid-row: 1;
    grid-column: span 4;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-row: 2 / span 5;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f2c38f;
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.2s;
}

.button.operation {
    background-color: #bfae9d;
}

.button:hover {
    background-color: #f2d2a2;
}

.button.operation:hover {
    background-color: #c9bcb2;
}
